.container-fluid {
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
a {
  color: #fff;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  height: 11%;
  z-index: 10;
}

#navbar > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  font-size: 24px;
  background-color: #be3144;
  height: 100%;
  padding: 10% 2%;
}

#navbar > ul,
a {
  text-decoration: none;
}

#navbar > ul,
.nav-li {
  cursor: pointer;
  padding: 1.4% 2%;
  align-items: center;
}

.nav-li:hover {
  background-color: #45567d;
}

#navbar > ul,
a:hover {
  color: #fff;
}

/* section welcome */

.contain-welcome {
  margin-top: 5%;
  background-color: #000;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-section {
  height: 100vh;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

#welcome-section > h2 {
  font-style: italic;
  font-weight: 100;
  color: #be3144;
  text-align: center;
}

/* section projects */

#projects {
  background: #45567d;
  padding: 8% 0 2% 0;
}

#projects > h2 {
  text-align: center;
  font-size: 40px;
}
hr {
  margin: auto;
  border-top: 3px solid #fff;
}

/*container project*/
.container-project {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0%;
}

.project-tile {
  margin-left: 3%;
}
.card {
  border: none;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}
.card > img {
  object-fit: cover;
  height: 374px;
}

.body-card {
  background-color: #3a3d40;
  padding: 4% 0;
  text-align: center;
}

label {
  font-size: 23px;
}

.simb1 {
  font-weight: bold;
}

.simb-code {
  color: #303841;
  transition: color 0.3s ease-out;
}

.project-tile,
.simb-code:hover {
  color: orange;
}

.btn-ver {
  background-color: #3a3d40;
  margin: auto;
  font-size: 23px;
}

.btn-ver:hover {
  background-color: #be3144;
  color: #fff;
}

/* profile */

#perfil-link {
  background-color: #303841;
  padding: 2% 0;
}

.contact-cont {
  text-align: center;
}

.contact-cont > h5 {
  font-style: italic;
  font-weight: 100;
}

.redes-social {
  justify-content: center;
  width: 50%;
  margin: auto;
}

.li-social {
  display: flex;
  justify-content: center;
}
.li-social > ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.li-r {
  padding: 1% 20%;
  display: flex;
  font-size: 23px;
}

.li-r > img {
  border-radius: 100px;
}

.li-r:hover {
  padding-top: 5%;
  transition: all 0.5s;
}

.hr-footer {
  border-top: 5px solid #be3144;
  margin-top: 8%;
}

/* copyright */

.copyright {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .project-tile {
    margin-left: 0%;
  }
  .card {
    width: 15rem !important;
    height: 10rem !important;
    margin-bottom: 55%;
    margin-left: 20%;
  }
  .card > img {
    object-fit: cover;
    height: 200px;
    width: 300px;
  }

  .li-r {
    padding: 1% 5%;
  }

  h1 {
    text-align: center;
  }
  .body-card {
    width: 300px;
  }
  .btn-ver {
    margin-top: 75% !important;
    margin-left: -27%;
  }
}
